body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./images/photo_2023-09-21_11-36-29.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
header {
  background-color: rgb(180, 152, 207);
  color: white;
  text-align: center;
  padding: 10px;
}
nav {
  display: inline-block;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}
.menu-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgb(88, 31, 174);
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}
.student-info {
  text-align: right;
  color: #333;
  margin-top: auto;
  margin-bottom: 20px;
}
