body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: thistle;
  height: 100vh;
  display: flex;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
  width: 200px; /* Ширина хедера */
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Занимает всю высоту экрана */
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 15px; /* Расстояние между пунктами меню */
}

.content {
  flex: 1; /* Занимает оставшееся пространство справа */
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  padding-top: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #ccc;
}

.content {
  width: 100%;
  padding: 40px;
  padding-top: 40px;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0; /* Устанавливаем начальную прозрачность 0 */
  animation: fadeInUp 0.4s ease-out forwards; /* Применяем анимацию */
}

/* Создаем keyframes для анимации появления */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(
      -400px
    ); /* Начальное положение по вертикали, например, -20px для смещения вверх */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#toggleButton {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10000000;
  background-color: black;
  color: white;
  cursor: pointer;
}

.header-visible {
  background-color: red;
  width: 0%;
  transform: translateX(-100px);
  overflow: hidden;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: justify;
  line-height: 1.6;
  color: #555;
}

span {
  cursor: pointer;
  border-bottom: 1px dotted #007bff;
  color: #007bff;
  transition: color 0.3s;
}

span:hover {
  color: #0056b3;
}

span img {
  vertical-align: middle;
  margin-bottom: 5px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.image-container {
  width: 100px;
  height: 50px;
}

#myImage {
  transition: transform 0.5s;
}

#myImage:hover {
  height: 170%;
  width: 170%;
}

@media screen and (max-width: 600px) {
  span img {
    border-radius: 0;
  }
}

.question_test {
  display: flex;

  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.modal-window-heading {
  font-size: 18px;
  color: #333;
}

.input-modal {
  width: 50%;
}

.question {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.question-button {
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.question-button:hover {
  background-color: #0056b3;
}

.wrapper-answer {
  padding: 0;

  width: 50%;
}

.answer-heading {
  font-size: 16px;
  color: #333;
}

.answer {
  font-size: 14px;
  color: #555;
}

nav ul li a.current-page {
  color: red;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* set to 'transparent' or a specific color */
  padding: 20px;
  box-shadow: 100px 40px 80px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#popup_content {
  text-align: center;
}

.popup img {
  max-width: 100%;
  height: auto;
}

.close {
  cursor: pointer;
}

#image-container {
  display: none;
}
.dialog {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  width: 800px;
  height: 704px;
  margin-left: -50px;
  margin-top: -20px;
  padding: 10px;
  border: #2c3e50 2px solid; /* Темно-серый цвет границы */
  border-radius: 10px;
  background: #34495e; /* Темно-серый цвет фона */
  color: #ecf0f1; /* Светло-серый цвет текста */
  z-index: 1500;
  font-weight: bold;
  font-size: 12pt;
}

.dialog .label {
  transform: rotate(270deg);
  width: 430px;
  height: 20px;
  text-align: center;
  color: #ecf0f1; /* Светло-серый цвет текста */
  font-weight: bold;
  overflow: hidden;
  display: inline-block;
  margin-left: -26%;
  margin-top: 40%;
  cursor: pointer;
}

.dialog .header {
  text-align: center;
  margin-top: -350px;
  font-size: 20px;
  font-weight: bold;
}

.dialog .history {
  height: 580px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.dialog input,
.dialog button,
.dialog .history {
  margin: 2px 25px;
  width: 95%;
  border: 1px #bdc3c7 solid; /* Светло-серый цвет границы */
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}

.dialog .history .question {
  margin: 5px;
  width: 90.4%;
  border-radius: 5px;
  padding: 5px;
  margin-left: 40px;
  background: #bdc3c7; /* Светло-серый цвет фона */
}

.question-img {
  transition: transform 0.3s ease-in-out;
}

.dialog .history .answer {
  margin: 5px;
  width: 95%;
  border-radius: 5px;
  padding: 5px;
  margin-right: 40px;
  background: #95a5a6; /* Серый цвет фона */
}

.dialog .history .answer img,
.dialog .history .answer video {
  cursor: pointer;
  display: block;
  max-width: 650px;
  margin-top: 10px;
}

.dialog .history .answer audio {
  margin-top: 15px;
}

.button-quest,
.button-quest1 {
  padding-top: 8px;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav a {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #theory {
    font-size: 18px;
    padding: 30px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  #theory {
    font-size: 24px;
    padding: 40px;
  }
}
