    <div>
        <a href="@Url.Action("Sum", "Calc")">Add</a>
        <a href="@Url.Action("Sub", "Calc")">Sub</a>
        <a href="@Url.Action("Mul", "Calc")">Mul</a>
        <a href="@Url.Action("Div", "Calc")">Div</a>
    </div>