@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error</h1>
        <p>@Model</p>
    </div>
</body>
</html>