<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
</head>
<body>
    <h1>Start Page</h1>
    <p>This is the Start Page.</p>
    <ul>
        <li><a href="/Start/One">One</a></li>
        <li><a href="/Start/Two">Two</a></li>
        <li><a href="/Start/Three">Three</a></li>
    </ul>
</body>
</html>
