<tr>
    <td>@Model.Name</td>
    <td>@Model.PhoneNumber</td>
    <td>
        <a href="/Dict/Update?id=@Model.Id" class="btn btn-primary">Edit</a>
        <a href="/Dict/Delete?id=@Model.Id" class="btn btn-danger">Delete</a>
    </td>
</tr>