<div>
    <a href="@Url.Action("Sum", "Calc")" class="operation-link">Addition (+)</a>
    <a href="@Url.Action("Sub", "Calc")" class="operation-link">Subtraction (-)</a>
    <a href="@Url.Action("Mul", "Calc")" class="operation-link">Multiplication (*)</a>
    <a href="@Url.Action("Div", "Calc")" class="operation-link">Division (/)</a>
</div>
