<div>
    <label for="x">Number X:</label>
    <input type="text" name="x" id="x" value="@ViewBag.x" />

    <label for="y">Number Y:</label>
    <input type="text" name="y" id="y" value="@ViewBag.y" />
</div>
