@model TelephoneDirectory.Domain.Entity.ContactEntity    

@{
    ViewData["Title"] = "Update contact " + @Model.Name;
}

<div class="container">
    <h1 class="title">
        Update form contact
    </h1>
    <div class="add_main">
        <form asp-controller="Dict" asp-action="UpdateSave">
             <input type="hidden" asp-for="Id" />
            <p>Name</p>
            <input type="text" placeholder="Name" asp-for="Name"/>
            <span></span>

            <p>Contact</p>
            <input type="text" placeholder="Contact" asp-for="PhoneNumber"/>
            <button type="submit">Send</button>
        </form>
    </div>
</div>