@using TelephoneDirectory.Helpers


@{
    ViewData["Title"] = "Add contact";
}

<div class="container">
    <h1 class="title">
        Add form contact
    </h1>
    <div class="add_main">
        <form asp-controller="Dict" asp-action="AddSave">
             @Html.DictionaryInputFor("Name", "Name", "Name")
             @Html.DictionaryInputFor("Contact", "PhoneNumber", "Contact")
            <button type="submit">Send</button>
        </form>
    </div>
</div>