@using TelephoneDirectory.Helpers
@model ContactRepository.Model.Contact    

@{
    ViewData["Title"] = "Update contact " + @Model.Name;
}

<div class="container">
    <h1 class="title">
        Update form contact
    </h1>
    <div class="add_main">
        <form asp-controller="Dict" asp-action="UpdateSave">
            <input type="hidden" asp-for="Id" />
             @Html.DictionaryInputHiddenFor(model => model.Id)
             @Html.DictionaryInputUpdateFor(model => model.Name, "Name", "Name")
             @Html.DictionaryInputUpdateFor(model => model.PhoneNumber, "PhoneNumber", "PhoneNumber")
            <button type="submit">Send</button>
        </form>
    </div>
</div>